*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 40rem;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    /* we use padding to remove by default margin at the top which gives us the white color(which we don't need) */

}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px; /* top right left bottom */
    padding: 40px 30px 70px; /* 30px of left and right */
    border-radius: 10px;
}

.todo-app h2 {
    display: flex;
}

.todo-app img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: auto;
    margin-left: 8px;
}

.row{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.add{
    border: none;
    background: transparent; 
    /* transparent refer to the see through the background of add class */
    font-weight: 14px;
    /* font-weight refers to thickness of font */
    padding: 10px;
    outline: none;
    /* outline:none refers to remove the outline of the input */
}

.btn{
    border: none;
    background: #ff5945;
    color: #fff;
    font-size: 14px;
    padding: 16px 50px;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    padding: 12px 8px 12px 15px;
    position: relative;
}

.tsk{
    color:#555;
    text-decoration: line-through;
}

.list-item{
    display:flex;
    align-items: center;
    justify-content: center;
}

.text-value{
    flex: 1;
}

input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
    accent-color: #ff5945;
}